main {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  box-shadow: 10px 0px 20px 3px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  background-color: white;
}
