<div
  (click)="handleClick()"
  class="project-card"
  [ngClass]="{ 'project-card--black': hasAppointment }"
>
  <h2 class="project-card__title">{{ project.title }}</h2>
  <div class="project-card__dates">
    <p class="project-card__dates-update">{{ lastUpdate }}</p>
    <p class="project-card__dates-appointment" *ngIf="hasAppointment">
      <img src="/assets/calendar.svg" alt="" /> {{ appointmentDate }}
    </p>
  </div>
  <div class="project-card__tasks">
    <div class="project-card__user-image-wrapper">
      <img
        class="project-card__user-image"
        *ngIf="admin"
        [src]="project.user.userImage"
        [alt]="project.user.name"
      />
    </div>
    <ul class="project-card__task-list">
      <li *ngFor="let item of tasks" class="project-card__task">
        <img
          class="project-card__task-icon"
          src="/assets/to-do.svg"
          alt="to-do"
        />
        <p class="project-card__task-title">{{ item?.title }}</p>
      </li>
    </ul>
  </div>
  <div class="project-card__progress">
    <p class="project-card__progress-title">Progreso</p>
    <p class="project-card__progress-number">{{ progress }}%</p>
  </div>
  <div class="project-card__bar">
    <div
      [id]="index.toString() + hasAppointment"
      class="project-card__bar-progress"
    ></div>
  </div>
</div>
