<app-layout>
  <div class="container" [ngClass]="{ blur: dateActive }">
    <div></div>
    <div class="project">
      <div cdkDropListGroup class="tasks">
        <div class="tasks__column">
          <div
            cdkDropList
            [cdkDropListData]="toDo"
            class="tasks__list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tasks__list-header">
              <h2 class="tasks__list-title">Por hacer</h2>
              <div (click)="toggleNewTask('newToDo')" class="tasks__list-add">
                <img
                  height="10rem"
                  width="10rem"
                  src="/assets/cross.svg"
                  alt="add task"
                />
              </div>
            </div>
            <form
              id="newToDo"
              class="tasks__item tasks__item-form tasks__item--hidden"
              [formGroup]="newTaskForm"
            >
              <input
                formControlName="newToDo"
                class="tasks__item-form-field"
                type="text"
              />
              <button
                [disabled]="!newTaskForm.get('newToDo')?.valid"
                (click)="
                  createNewTask(newTaskForm.get('newToDo')?.value, 'newToDo')
                "
                class="tasks__item-form-add"
              >
                Añadir
              </button>
            </form>
            <div class="tasks__item" *ngFor="let item of toDo" cdkDrag>
              <p class="tasks__item-title">{{ item.title }}</p>
              <button (click)="removeTask(item._id)" class="tasks__item-remove">
                Borrar
              </button>
            </div>
          </div>
        </div>
        <div class="tasks__column">
          <div
            cdkDropList
            [cdkDropListData]="doing"
            class="tasks__list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tasks__list-header">
              <h2 class="tasks__list-title">En proceso</h2>
              <div (click)="toggleNewTask('newDoing')" class="tasks__list-add">
                <img
                  height="10rem"
                  width="10rem"
                  src="/assets/cross.svg"
                  alt="add task"
                />
              </div>
            </div>
            <form
              id="newDoing"
              class="tasks__item tasks__item-form tasks__item--hidden"
              [formGroup]="newTaskForm"
            >
              <input
                formControlName="newDoing"
                class="tasks__item-form-field"
                type="text"
              />
              <button
                [disabled]="!newTaskForm.get('newDoing')?.valid"
                (click)="
                  createNewTask(newTaskForm.get('newDoing')?.value, 'newDoing')
                "
                class="tasks__item-form-add"
              >
                Añadir
              </button>
            </form>
            <div class="tasks__item" *ngFor="let item of doing" cdkDrag>
              <p class="tasks__item-title">{{ item.title }}</p>
              <button (click)="removeTask(item._id)" class="tasks__item-remove">
                Borrar
              </button>
            </div>
          </div>
        </div>
        <div class="tasks__column">
          <div
            cdkDropList
            [cdkDropListData]="toReview"
            class="tasks__list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tasks__list-header">
              <h2 class="tasks__list-title">Por aprobar</h2>
              <div
                (click)="toggleNewTask('newToReview')"
                class="tasks__list-add"
              >
                <img
                  height="10rem"
                  width="10rem"
                  src="/assets/cross.svg"
                  alt="add task"
                />
              </div>
            </div>
            <form
              id="newToReview"
              class="tasks__item tasks__item-form tasks__item--hidden"
              [formGroup]="newTaskForm"
            >
              <input
                formControlName="newToReview"
                class="tasks__item-form-field"
                type="text"
              />
              <button
                [disabled]="!newTaskForm.get('newToReview')?.valid"
                (click)="
                  createNewTask(
                    newTaskForm.get('newToReview')?.value,
                    'newToReview'
                  )
                "
                class="tasks__item-form-add"
              >
                Añadir
              </button>
            </form>
            <div class="tasks__item" *ngFor="let item of toReview" cdkDrag>
              <p class="tasks__item-title">{{ item.title }}</p>
              <button (click)="removeTask(item._id)" class="tasks__item-remove">
                Borrar
              </button>
            </div>
          </div>
        </div>
        <div class="tasks__column">
          <div
            cdkDropList
            [cdkDropListData]="done"
            class="tasks__list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tasks__list-header">
              <h2 class="tasks__list-title">Hecho</h2>
              <div (click)="toggleNewTask('newDone')" class="tasks__list-add">
                <img
                  height="10rem"
                  width="10rem"
                  src="/assets/cross.svg"
                  alt="add task"
                />
              </div>
            </div>
            <form
              id="newDone"
              class="tasks__item tasks__item-form tasks__item--hidden"
              [formGroup]="newTaskForm"
            >
              <input
                formControlName="newDone"
                class="tasks__item-form-field"
                type="text"
              />
              <button
                [disabled]="!newTaskForm.get('newDone')?.valid"
                (click)="
                  createNewTask(newTaskForm.get('newDone')?.value, 'newDone')
                "
                class="tasks__item-form-add"
              >
                Añadir
              </button>
            </form>
            <div class="tasks__item" *ngFor="let item of done" cdkDrag>
              <p class="tasks__item-title">{{ item.title }}</p>
              <button (click)="removeTask(item._id)" class="tasks__item-remove">
                Borrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="forms">
      <form
        id="project-form"
        class="project-form"
        (ngSubmit)="handleSubmit()"
        [formGroup]="projectForm"
      >
        <input
          class="project-form__title"
          id="title"
          type="text"
          formControlName="title"
        />
        <textarea
          class="project-form__description"
          type="text-area"
          id="description"
          formControlName="description"
          rows="5"
          cols="33"
        ></textarea>
        <div class="project-form__buttons">
          <button
            class="project-form__button"
            type="submit"
            [disabled]="!projectForm.valid"
          >
            Guardar cambios
          </button>
          <button
            class="project-form__button project-form__button--delete"
            (click)="handleDelete()"
          >
            Eliminar este proyecto
          </button>
        </div>
      </form>
      <form
        class="client-form"
        id="client-form"
        (ngSubmit)="handleClientUpdate()"
        [formGroup]="clientForm"
      >
        <input
          class="client-form__title"
          id="title"
          form="client-form"
          type="text"
          formControlName="name"
        />
        <div class="client-form__field">
          <img
            height="15px"
            width="15px"
            class="client-form__icon"
            src="/assets/phone.svg"
            alt="phone"
          />
          <input
            class="client-form__info"
            id="title"
            form="client-form"
            type="text"
            formControlName="phone"
          />
        </div>
        <div class="client-form__field">
          <img
            height="15px"
            width="15px"
            class="client-form__icon"
            src="/assets/email.svg"
            alt="email"
          />
          <input
            class="client-form__info"
            form="client-form"
            id="title"
            type="text"
            formControlName="email"
          />
        </div>
        <div *ngIf="hasAppointment" class="client-form__field">
          <img
            height="20px"
            width="15px"
            class="client-form__icon"
            src="/assets/calendar-solid.svg"
            alt="calendar"
          />
          <p class="client-form__info">{{ appointment }}</p>
        </div>
        <div class="client-form__field">
          <img
            height="20px"
            width="15px"
            class="client-form__icon"
            src="/assets/location.svg"
            alt=""
          />
          <div class="client-form__address">
            <input
              class="client-form__info"
              id="title"
              form="client-form"
              type="text"
              formControlName="street"
            />
            <p>Nº</p>
            <input
              class="client-form__info"
              id="title"
              form="client-form"
              type="text"
              formControlName="number"
            />
          </div>
        </div>
        <div class="client-form__buttons">
          <button
            class="client-form__button"
            type="submit"
            [disabled]="!clientForm.valid"
          >
            Guardar cambios
          </button>
          <button
            (click)="toggleDate()"
            class="client-form__button"
            type="button"
          >
            <img src="/assets/cross.svg" alt="" />
            {{ hasAppointment ? "Modificar cita" : "Crear una cita" }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-alerts
    [active]="alertIsActive"
    [isError]="alertIsError"
    [message]="alertMessage"
  ></app-alerts>
  <div *ngIf="dateActive" class="appointment">
    <form
      (ngSubmit)="createAppointment()"
      class="appointment__form"
      [formGroup]="projectForm"
    >
      <div class="appointment__form-title">
        <label class="appointment__form-label" for="date"
          >Selecciona una fecha para la cita</label
        >
        <img
          class="appointment__close"
          width="30px"
          height="30px"
          (click)="toggleDate()"
          src="/assets/close.svg"
          alt="close"
        />
      </div>
      <input
        class="appointment__form-date"
        type="date"
        name="appointment"
        formControlName="appointment"
        form="project-form"
        id="date"
      />
      <div class="appointment__form-buttons">
        <button class="appointment__form-button" type="submit">
          Confirmar cita
        </button>
        <button
          type="button"
          class="appointment__form-button appointment__form-button--delete"
          (click)="deleteAppointment()"
        >
          Eliminar cita
        </button>
      </div>
    </form>
  </div>
</app-layout>
