<app-layout>
  <div class="profile-container">
    <app-alerts
      [active]="alertIsActive"
      [isError]="alertIsError"
      [message]="alertMessage"
    ></app-alerts>
    <div class="user-data">
      <form
        class="user-data__form"
        [formGroup]="userDataForm"
        (ngSubmit)="handleSubmit()"
      >
        <input
          class="user-data__form-field"
          type="text"
          placeholder="user name"
          formControlName="userName"
        />
        <input
          class="user-data__form-field"
          type="text"
          placeholder="name"
          formControlName="name"
        />
        <input
          class="user-data__form-field"
          type="text"
          placeholder="email"
          formControlName="mail"
        />
        <button class="user-data__submit" type="submit">Guardar cambios</button>
      </form>
      <div class="user-data__image-controls">
        <div class="user-data__image-wrapper">
          <img
            (click)="toggleActive()"
            class="user-data__image-preview"
            [src]="userData.userImage"
            alt="user"
          />
        </div>
        <div (click)="toggleActive()" class="user-data__image-controls-edit">
          <img
            src="/assets/edit.svg"
            alt=""
            srcset=""
            width="14px"
            height="15px"
          />
        </div>
      </div>
      <div *ngIf="active" class="user-data__dropzone">
        <div class="user-data__dropzone-controls">
          <ngx-dropzone class="dropzone" (change)="onSelect($event)">
            <ngx-dropzone-label class="dropzone__label"
              >Arrastra aquí tu foto</ngx-dropzone-label
            >
          </ngx-dropzone>
          <label class="user-data__dropzone-label" for="fileDropRef"
            >Selecciona una foto</label
          >
          <input
            class="user-data__dropzone-select"
            type="file"
            name=""
            #fileDropRef
            id="fileDropRef"
            (change)="fileBrowseHandler($event.target)"
          />
        </div>
        <img
          class="user-data__dropzone-close"
          src="/assets/close.svg"
          alt="close"
          (click)="toggleActive()"
        />
      </div>
    </div>
  </div>
</app-layout>
