<form class="register" [formGroup]="regForm" (ngSubmit)="handleSubmit()">
  <input
    class="register__field"
    type="text"
    placeholder="user name"
    id=""
    formControlName="userName"
  />
  <input
    class="register__field"
    type="text"
    placeholder="name"
    id=""
    formControlName="name"
  />
  <input
    class="register__field"
    type="text"
    placeholder="email"
    id=""
    formControlName="mail"
  />
  <input
    class="register__field"
    type="password"
    placeholder="password"
    id=""
    formControlName="password"
  />
  <button [disabled]="!regForm.valid" class="register__submit" type="submit">
    Register
  </button>
</form>
<app-alerts
  [active]="alertIsActive"
  [isError]="alertIsError"
  [message]="alertMessage"
></app-alerts>
