<form class="login" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
  <input
    class="login__field"
    type="text"
    placeholder="user name"
    formControlName="userName"
  />
  <input
    class="login__field"
    type="password"
    placeholder="password"
    formControlName="password"
  />
  <button [disabled]="!loginForm.valid" class="login__submit" type="submit">
    Login
  </button>
</form>
<app-alerts
  [active]="alertIsActive"
  [isError]="alertIsError"
  [message]="alertMessage"
></app-alerts>
