@use "/src/variables";

.container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
  height: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  &__field {
    border: none;
    background-color: whitesmoke;
    font-size: 1rem;
    padding: 3px;
    border-radius: 5px;
  }

  &__submit {
    border: none;
    background-color: variables.$accent-color;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 200ms;
  }

  &__submit:disabled {
    background-color: black;
    color: white;
  }
}
